.display-none
    display: none
    
#cart
    width: 250px
    height: 100vh
    overflow-y: scroll
    .line
        width: 130px
        height: 2px
        background-color: $mainBlack
        margin: 0 auto
    .top
        height: 150px
        h2
            font-size: 2em
            padding: 30px
    .cart-item
        padding: 20px
        .image-holder
        .info-holder
            display: flex
            h3
            .price
    
    .cart-buttons
        padding: 30px
        .check-out
            font-size: 25px
            padding: 20px
        .clear-cart
            padding: 20px
            font-size: 20px

        




// <!-- CART COMP -->
//     <div id="cart">
//         <div class="close-cart">X</div>

//         <div class="cart-item">
//             <div class="image-golder"></div>
//             <h3>Damsteep Riesling 2018</h3>
//             <span class="price">$38</span>
//         </div>

//         <div class="cart-buttons">
//             <div class="check-out"></div>
//             <div class="line"></div>
//             <div class="clear-cart"></div>
//         </div>

//     </div>
//     <!-- END CART COMP -->