
//
// Sidebar Text
//    


// ! TEMP
$tablet: 1020px
$mobile: 500px

.sidebar
    position: relative
    height: 100vh
    .hero-blurb
        padding: 40px
        max-width: 300px
    // #top-blurb, #bottom-blurb
    //     margpadding-left: 60px
#home-page
    .hero
      height: 100vh
    .nav-holder
        height: 80px
        @media screen and ( max-width: $tablet )
            height: auto !important
        .logo-holder
            display: none 
    .sidebar
        z-index: 2
        .hero-blurb
            +position(absolute, 40vh, 30px)
        
        .columns
            height: 100vh
        .logo
            padding: 40px
        .section-two-title
            text-align: center
            font-size: 2em
            width: 100%
            +position(absolute, 90%)

    .is-three-quarters  
        .hero-image
            +coverImage()
            position: absolute
            width: 100%
            height: 100vh
            z-index: -1
        .hero-title
            position: relative
            top: 40vh
            padding-left: 60px
            width: 50%
            font-size: 3em
            margin-top: 50px
            z-index: -1
        #waypoint
            position: absolute
            top: 20vh

    @media only screen and (max-width: $tablet)
        .hero
            .sidebar
                height: 0px
            #top-blurb, .section-two-title
                display: none
            .logo-holder
                background-color: $mainWhite
                +flexCenter()
                img
                    max-width: 300px
            .nav-holder
                // REMOVE 
                display: none
                // REMOVE
                z-index: 9999999
                height: 280px
                .tabs
                    margin: 0 auto
                    position: relative
                    right: 0
                ul
                    display: block
                    padding: 0
                span
                    display: flex
                    justify-content: center
    @media only screen and (max-width: $mobile)
        .is-three-quarters
            .hero-title
                font-size: 2em 
                width: 100% 
                padding: 0 
                text-align: center 

//
// Section Two
//

.section-two
    .columns
        height: 100vh
    .sidebar
        .hero-blurb
            +position(absolute, 15vh)
    .hover-image
        +coverImage()
        display: flex
        align-items: center
        .content
            opacity: 0
            transition: opacity 0.3s
            width: 100%
            position: relative
            h5
                padding: 20px
                text-align: center
                color: white
                font-size: 25px
            .underline
                border-bottom: 2px solid $mainWhiteText
                position: absolute
                height: 2px
                width: 150px
                top: 130px
                left: 0
                right: 0
        &:hover
            .content
                opacity: 1
    .one
        background-image: url("../../images/home/black_estate_14.jpg")
    .two
        background-image: url("../../images/home/p-2.jpeg")
    .three
        background-image: url("../../images/home/p.jpeg")
    @media only screen and (max-width: $tablet)
        .columns
            height: auto
            .hover-image
                height: 300px
            .sidebar
                height: 400px
                #bottom-blurb
                    position: relative
                    top: 60px
                    margin: 0 auto
                    width: 100% !important
                    padding: 0 !important
                    right: 0 !important
                p
                    padding: 20px


.testimonial
    width: 100%
    height: 200px
    background-color: #9698A6
    margin: 0 !important
    .image
        $roundImageSize: 100px
        width: $roundImageSize
        height: $roundImageSize
        overflow: hidden
        img
            +coverImage()
            width: $roundImageSize
            height: $roundImageSize 
            border-radius: 50px
    .content
        max-width: 400px
        padding: 30px
    @media only screen and (max-width: $tablet)
        height: 400px
        .level-item
            display: block
            .image
                margin: 0 auto
                width: 100%
                padding-top: 60px
                +flexCenter()
            .content
                width: 100%
                text-align: center
                margin: 0 auto

.section-three
    background-color: $mainWhite
    .holder
        position: relative
        
        img
            width: calc(100% - 33%)
        img.bottom
            margin-top: 200px
            z-index: 1
        img.top
            position: absolute
            right: 0
            z-index: 0
        .top-left, .bottom-right
            position: absolute
            padding: 60px 0 60px 0
            width: calc(100% / 3)
            text-align: center
            font-size: 30px
        .top-left
            left: 0
        .bottom-right
            bottom: 0
            right: 0
    @media only screen and (max-width: $tablet)
        .holder
            .bottom, .top, .top-left, .bottom-right
                position: relative
                display: block
                width: 100% 
                text-align: center
                height: 50%
                margin: 0 !important
            //     position: relative
            //     padding-top: calc(20vw) !important

.fotterComp
    margin-top: -5px
